<ion-view  class="detail-view">
  <ion-nav-bar class="bar-home-view">
    <ion-nav-back-button class="button-dark">Voltar
    </ion-nav-back-button>
    <h1 class="title title-hosp" style="left: 60px; right: 60px;"></h1>
	</ion-nav-bar>
  <ion-content class="forgot-content">
    <h1>Esqueceu sua senha?</h1>
    <h3>Digite seu email</h3>
    <input  type="email" placeholder="EMAIL" ng-model="user.email">
    <div class="btn-forgot" ng-click="forgotPassword()" class="enviar-forget">
      Enviar
    </div>
    <p>
      Enviaremos um email para você trocar sua senha.
    </p>
    <img src="../img/logotype.svg" alt="" />
  </ion-content>
</ion-view>
