<ion-view title="Home" hide-nav-bar="true">
  <div class="view-navigation" ng-style="{'left':model.leftNav, 'opacity':model.opacity}">
    <div class="navigation-top">
      <div class="navigation-close" ng-click="closeNavigation()"></div>
      <img class="navigation-avatar" ng-src="{{user.photoUrl}}">
    </div>
    <div class="navigation-content">
      <a ng-click="closeNavigation()" ng-href="#/staticInfo">Informações Importantes</a>
      <a ng-click="share()">Indique o SOSPS</a>
      <!-- <a>Avalie o App</a> -->
      <a ng-href="{{addHospitalMail}}" target="_blank">Não encontrou algum hospital?</a>
      <a ng-href="{{contactMail}}" target="_blank">Contato e Sugestões</a>
      <a ng-click="toTutorial()">Como usar</a>
    </div>
    <div class="navigation-footer">
      <div class="navigation-settings">
        <div class="navigation-icon-conf"></div>
        <a ng-href="#/profile">MINHA</br> CONTA</a>
      </div>
      <div ng-click="signOut()" class="navigation-logout">
        <div class="navigation-icon-logout"></div>
        <a href="#">TROCAR</br>CONTA</a>
      </div>
    </div>
  </div>
  <ion-header-bar class="bar-home-view">
    <div
    ng-style="{
          'left':model.left
        }"
    class="item-input-wrapper seach-bar">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input class="search-input" type="search"  placeholder="Qual hospital você deseja consultar?" ng-model="model.search.name">
          <div ng-click="searchClose()" class="closesearch"></div>
    </div>
		<div class="buttons">
			<button ng-click="callNavigation()" class="button button-icon menu-sandwich" ></button>
      <div class="image-bar"></div>
		</div>
		<h1 class="title" style="left: 60px; right: 60px;"></h1>

    <div class="buttons-bar">
      <button class="button-filter" ng-click="toggleFilterBox()"></button>
      <button ng-click="search()" class="button-search"></button>
    </div>

	</ion-header-bar>
  <ion-content class="view-home">
    <ion-refresher
      pulling-text="Atualizar..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-if="model.showFilterBox" class="filter-box">
      <div class="list list-filter">
        <label class="item item-input item-select">
          <div class="input-label">
            Critério de pesquisa
          </div>
          <select ng-model="model.choice">
            <option ng-value="'totalTime.' + model.specialty">Menor tempo para 1º atendimento</option>
            <option ng-value="'watingTime.' + model.specialty">Menor tempo de espera</option>
            <option ng-value="'trafficTime'">Menor tempo de deslocamento</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Distância da busca
          </div>
          <select ng-model="model.distance">
            <option ng-value=15>15km</option>
            <option ng-value=30>30km</option>
            <option ng-value=50>50km</option>
          </select>
        </label>
        <div style="color: white; background-color: #BDBDBD; text-align: center; padding-top: 5px; padding-bottom: 0;" class="item-back-filter item ion-chevron-up" ng-click="toggleFilterBox()"></div>
      </div>
    </div>
    <uib-tabset active="activeJustified" class="options-list" justified="true">
      <uib-tab index="0" ng-click="model.specialty = 'PSAdulto'" heading="PA / PS Clínico Adulto">
        <div class="list list-hosp">
          <a ng-if="hospital.showBySpecialty[model.specialty] && hospital.specialties.PSAdulto" ng-repeat="hospital in hospitals | orderBy:model.choice | filter:model.search | filter:lesserThan('distance', model.distance)" class="item item-thumbnail-right" ng-href="#/hospitals/{{hospital.$id}}?specialty=PSAdulto&trafficTime={{hospitalsSafeCopy[hospital.$id].trafficTime}}">
            <div class="information-image">
              <img class="image-hospital" ng-src="{{hospital.photoUrl}}">
            </div>
            <div class="information-main">
              <h1>{{hospital.name}}</h1>
              <h2 ng-if="hospital.updateOn[model.specialty]">atualizado em {{hospital.updateOn[model.specialty] | date: "dd/MM"}} às {{hospital.updateOn[model.specialty] | date: "HH:mm"}}h</h2>
              <h2 ng-if="!hospital.updateOn[model.specialty]">atualizado em -- às --</h2>
            </div>
            <div class="information-secondary">
              <div class="trajeto">
                <p>TRAJETO</p>
                <span ng-if="hospitalsSafeCopy[hospital.$id].trafficTime">{{hospitalsSafeCopy[hospital.$id].trafficTime | number:0}} min</span>
                <span ng-if="!hospitalsSafeCopy[hospital.$id].trafficTime">--</span>
              </div>
              <div class="espera">
                <p>ESPERA</p>
                <span ng-if="hospital.watingTime[model.specialty]">{{hospital.watingTime[model.specialty]}} min</span>
                <span ng-if="!hospital.watingTime[model.specialty]">--</span>
              </div>
            </div>
            <div class="atendimento">
              <h3>TEMPO TOTAL ATÉ 1º ATENDIMENTO</h3>
              <h2 ng-if="hospital.watingTime[model.specialty] && hospitalsSafeCopy[hospital.$id].trafficTime">{{hospital.watingTime[model.specialty] + hospitalsSafeCopy[hospital.$id].trafficTime | number:0}} <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime[model.specialty] && !hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime[model.specialty] && hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
              <h2 ng-if="hospital.watingTime[model.specialty] && !hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
            </div>
          </a>
        </div>
      </uib-tab>
      <uib-tab index="1" ng-click="model.specialty = 'PSPediatria'" heading="PA / PS Infantil">
        <div class="list list-hosp">
          <a ng-if="hospital.showBySpecialty[model.specialty] && hospital.specialties.PSPediatria" ng-repeat="hospital in hospitals | orderBy:model.choice | filter:model.search | filter:lesserThan('distance', model.distance)" class="item item-thumbnail-right" ng-href="#/hospitals/{{hospital.$id}}?specialty=PSPediatria&trafficTime={{hospitalsSafeCopy[hospital.$id].trafficTime}}">
            <div class="information-image">
              <img class="image-hospital" ng-src="{{hospital.photoUrl}}">
            </div>
            <div class="information-main">
              <h1>{{hospital.name}}</h1>
              <h2 ng-if="hospital.updateOn[model.specialty]">atualizado em {{hospital.updateOn[model.specialty] | date: "dd/MM"}} às {{hospital.updateOn[model.specialty] | date: "HH:mm"}}h</h2>
              <h2 ng-if="!hospital.updateOn[model.specialty]">atualizado em -- às --</h2>
            </div>
            <div class="information-secondary">
              <div class="trajeto">
                <p>TRAJETO</p>
                <span ng-if="hospitalsSafeCopy[hospital.$id].trafficTime">{{hospitalsSafeCopy[hospital.$id].trafficTime | number:0}} min</span>
                <span ng-if="!hospitalsSafeCopy[hospital.$id].trafficTime">--</span>
              </div>
              <div class="espera">
                <p>ESPERA</p>
                <span ng-if="hospital.watingTime[model.specialty]">{{hospital.watingTime[model.specialty]}} min</span>
                <span ng-if="!hospital.watingTime[model.specialty]">--</span>
              </div>
            </div>
            <div class="atendimento">
              <h3>TEMPO TOTAL ATÉ 1º ATENDIMENTO</h3>
              <h2 ng-if="hospital.watingTime[model.specialty] && hospitalsSafeCopy[hospital.$id].trafficTime">{{hospital.watingTime[model.specialty] + hospitalsSafeCopy[hospital.$id].trafficTime | number:0}} <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime[model.specialty] && !hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime[model.specialty] && hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
              <h2 ng-if="hospital.watingTime[model.specialty] && !hospitalsSafeCopy[hospital.$id].trafficTime">-- <span>min</span></h2>
            </div>
          </a>
        </div>
      </uib-tab>
    </uib-tabset>
  </ion-content>
</ion-view>
