<ion-view title="Home" hide-nav-bar="true">
  <div class="view-navigation" ng-style="{'left':model.leftNav, 'opacity':model.opacity}">
    <div class="navigation-top">
      <div class="navigation-close" ng-click="closeNavigation()"></div>
      <img class="navigation-avatar" ng-src="{{user.photoUrl}}">
    </div>
    <div class="navigation-content">
      <a ng-click="closeNavigation()" ng-href="#/staticInfo">Informações Importantes</a>
      <a ng-click="share()">Indique o SOSPS</a>
      <!-- <a>Avalie o App</a> -->
      <a ng-href="{{addHospitalMail}}" target="_blank">Não encontrou algum hospital?</a>
      <a ng-href="{{addHospitalMail}}" target="_blank">Contato e Sugestões</a>
      <!-- <a>Como usar</a> -->
    </div>
    <div class="navigation-footer">
      <div class="navigation-settings">
        <div class="navigation-icon-conf"></div>
        <a ng-href="#/settings">MINHA</br> CONTA</a>
      </div>
      <div ng-click="user.$signOut()" class="navigation-logout">
        <div class="navigation-icon-logout"></div>
        <a href="#">TROCAR</br>CONTA</a>
      </div>
    </div>
  </div>
  <ion-header-bar class="bar-home-view">
    <div
    ng-style="{
          'left':model.left
        }"
    class="item-input-wrapper seach-bar">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input class="search-input" type="search"  placeholder="Search" ng-model="model.search.name">
          <div ng-click="searchClose()" class="closesearch"></div>
    </div>
		<div class="buttons">
			<button ng-click="callNavigation()" class="button button-icon menu-sandwich" ></button>
      <div class="image-bar"></div>
		</div>
		<h1 class="title" style="left: 60px; right: 60px;"></h1>

    <div class="buttons-bar">
      <button class="button-filter"></button>
      <button ng-click="search()" class="button-search"></button>
    </div>

	</ion-header-bar>
  <ion-content class="view-home">
    <uib-tabset active="activeJustified" class="options-list" justified="true">
      <uib-tab index="0" heading="PA / PS Clínico Adulto">
        <div class="list list-hosp">
          <a ng-if="hospital.shouldShow && hospital.specialties.PSAdulto" ng-repeat="hospital in hospitals | orderBy:'-name' | filter:model.search" class="item item-thumbnail-right" ng-href="#/hospitals/{{hospital.$id}}?trafficTime={{hospital.trafficTime}}">
            <div class="information-image">
              <img class="image-hospital" ng-src="{{hospital.photoUrl}}">
            </div>
            <div class="information-main">
              <h1>{{hospital.name}}</h1>
              <h2 ng-if="hospital.updateOn">atualizado em {{hospital.updateOn | date: "dd/MM"}} às {{hospital.updateOn | date: "hh:mm"}}h</h2>
              <h2 ng-if="!hospital.updateOn">atualizado em -- às --</h2>
            </div>
            <div class="information-secondary">
              <div class="trajeto">
                <p>TRAJETO</p>
                <span ng-if="hospital.trafficTime">{{hospital.trafficTime | number:0}} min</span>
                <span ng-if="!hospital.trafficTime">--</span>
              </div>
              <div class="espera">
                <p>ESPERA</p>
                <span ng-if="hospital.watingTime">{{hospital.watingTime}} min</span>
                <span ng-if="!hospital.watingTime">--</span>
              </div>
            </div>
            <div class="atendimento">
              <h3>TEMPO TOTAL ATÉ 1º ATENDIMENTO</h3>
              <h2 ng-if="hospital.watingTime && hospital.trafficTime">{{hospital.watingTime + hospital.trafficTime | number:0}} <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime && !hospital.trafficTime">-- <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime && hospital.trafficTime">-- <span>min</span></h2>
              <h2 ng-if="hospital.watingTime && !hospital.trafficTime">-- <span>min</span></h2>
            </div>
          </a>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="PA / PS Infantil">
        <div class="list list-hosp">
          <a ng-if="hospital.shouldShow && hospital.specialties.PSPediatria" ng-repeat="hospital in hospitals | orderBy:'-name' | filter:model.search" class="item item-thumbnail-right" ng-href="#/hospitals/{{hospital.$id}}?trafficTime={{hospital.trafficTime}}">
            <div class="information-image">
              <img class="image-hospital" ng-src="{{hospital.photoUrl}}">
            </div>
            <div class="information-main">
              <h1>{{hospital.name}}</h1>
              <h2 ng-if="hospital.updateOn">atualizado em {{hospital.updateOn | date: "dd/MM"}} às {{hospital.updateOn | date: "hh:mm"}}h</h2>
              <h2 ng-if="!hospital.updateOn">atualizado em -- às --</h2>
            </div>
            <div class="information-secondary">
              <div class="trajeto">
                <p>TRAJETO</p>
                <span ng-if="hospital.trafficTime">{{hospital.trafficTime | number:0}} min</span>
                <span ng-if="!hospital.trafficTime">--</span>
              </div>
              <div class="espera">
                <p>ESPERA</p>
                <span ng-if="hospital.watingTime">{{hospital.watingTime}} min</span>
                <span ng-if="!hospital.watingTime">--</span>
              </div>
            </div>
            <div class="atendimento">
              <h3>TEMPO TOTAL ATÉ 1º ATENDIMENTO</h3>
              <h2 ng-if="hospital.watingTime && hospital.trafficTime">{{hospital.watingTime + hospital.trafficTime | number:0}} <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime && !hospital.trafficTime">-- <span>min</span></h2>
              <h2 ng-if="!hospital.watingTime && hospital.trafficTime">-- <span>min</span></h2>
              <h2 ng-if="hospital.watingTime && !hospital.trafficTime">-- <span>min</span></h2>
            </div>
          </a>
        </div>
      </uib-tab>
    </uib-tabset>
  </ion-content>
</ion-view>
