<ion-view  class="detail-view">
  <ion-nav-bar class="bar-home-view">
    <ion-nav-back-button class="button-dark">Voltar
    </ion-nav-back-button>
    <h1 class="title title-hosp" style="left: 60px; right: 60px;"></h1>
	</ion-nav-bar>
  <ion-content>
    <map
    id="map" dragging="false" center="{{hospital.latitude}}, {{hospital.longitude}}" zoom=15 data-tap-disabled="true" disable-default-u-i="true" options="options">
      <marker  icon="img/pino.png" position="{{hospital.latitude}}, {{hospital.longitude}}"></marker>
    </map>


    <div class="padding hospital-info-box">
      <img class="overlap-logo" ng-src="{{hospital.photoUrl}}">
      <h3 class="hospital-name">{{hospital.name}}</h3>

      <div class="main-information-hosp">
        <div class="hosp-time-total info-hosp">
          <h3>Tempo total até 1º atendimento</h3>
          <h2 ng-if="hospital.totalTime">{{hospital.totalTime | number:0}} <span>min</span></h2>
          <h2 ng-if="!hospital.totalTime">--</h2>
        </div>
        <div class="hosp-traj-wait">
          <div class="hosp-traj info-hosp">
            <h3>Trajeto</h3>
            <h2 ng-if="hospital.trafficTime">{{hospital.trafficTime | number:0}} <span>min</span></h2>
            <h2 ng-if="!hospital.trafficTime">--</h2>
          </div>
          <span class="morespan">+</span>
          <div class="hosp-traj waithosp info-hosp">
            <h3>Espera</h3>
            <h2 ng-if="hospital.watingTime">{{hospital.watingTime | number:0}} <span>min</span></h2>
            <h2 ng-if="!hospital.watingTime">--</h2>
          </div>
        </div>
        <a ng-click="getDirections()"class="info-hosp get-direction">TRAÇAR ROTA</a>
      </div>

      <p ng-if="hospital.updateOn" class="time-wait">Tempo de espera da instituição atualizado em {{hospital.updateOn | date: "dd/MM"}} às {{hospital.updateOn | date: "hh:mm"}}h</p>
      <p ng-if="!hospital.updateOn" class="time-wait">Sem registro da última atualização desta instituição</p>

      <p class="info-call">INFORMAÇÕES</p>
      <div class="blue-separator"></div>

      <div class="info-final">
        <p ng-if="hospital.description">{{hospital.description}}</p>
        <p ng-if="!hospital.description">Este hospital ainda não possui uma descrição.</p>
        <div class="secondary-information-hosp">
          <div class="hosp-info hosp-phone">
            <div class="logo-phone"></div>
            <h4 ng-if="hospital.phone">{{hospital.phone}}</h4>
            <h4 ng-if="!hospital.phone">Não informado</h4>
          </div>
          <div class="hosp-info hosp-address">
            <div class="logo-address"></div>
            <h4 ng-if="hospital.address">{{hospital.address}}</h4>
            <h4 ng-if="!hospital.address">Não informado</h4>
          </div>
          <div class="hosp-info hosp-time">
            <div class="logo-time"></div>
            <h4 ng-if="hospital.workingHours">{{hospital.workingHours}}</h4>
            <h4 ng-if="!hospital.workingHours">Não informado</h4>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
