<ion-view  hide-nav-bar="true" title="Login">
  <ion-content class="login-content">
    <div ng-if="model.showLoading" class="loading-page">
      <img ng-src="img/loading.gif" alt="" />
      <h4>AGUARDE</h4>
    </div>
    <div class="flex-view full-height">
      <div class="logotype">
        <img src="img/logotype.svg">
      </div>
      <div class="form form-login">
        <div class="list">
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">EMAIL</span>
            <input class="input-login" type="email" placeholder="EMAIL" ng-model="user.email">
          </label>
          <div class="item item-input-inset password-input">
            <label class="item-input item-floating-label ">
              <span class="input-label">SENHA</span>
              <input class="input-login" type="password" placeholder="SENHA" ng-model="user.password">
            </label>
            <a ng-href="#/forgotPassword" class="forgot-password">Esqueci minha senha</a>
          </div>
        </div>
      </div>

      <div class="btn-login" ng-click="loginWithProvider('email')">
          Entrar
      </div>

      <div class="secondary-btn-row">
        <div class="btn-superlogin btn-facebook" ng-click="loginWithProvider('facebook')">
          Facebook
        </div>
        <div class="btn-superlogin btn-google" ng-click="loginWithProvider('google')">
          Google
        </div>
      </div>
      <div class="register-info">
        <p>Ainda não tem uma conta? <a ng-click="modal.show()">Cadastrar</a></p>
      </div>
    </div>
  </ion-content>
</ion-view>
