<ion-view hide-nav-bar="true" title="Profile">
  <ion-header-bar class="bar bar-header bar-light">
    <!-- <button class="button button-icon icon ion-close-round" ng-click="discardChanges()"></button> -->
    <h1 class="title">Informações</h1>
    <!-- <button class="button button-icon icon ion-checkmark-round" ng-click="saveChanges()"></button> -->
  </ion-header-bar>
  <ion-content class="padding">
    <div class="flex-view">
      <div class="form">
        <div class="list list-profile">
          <label class="item item-input item-floating-label item-avatar-right no-side-top-border">
            <img ng-src="{{user.photoUrl}}" />
            <span class="input-label">NOME COMPLETO</span>
            <input type="text" placeholder="NOME COMPLETO" ng-model="user.name">
          </label>
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">EMAIL</span>
            <input type="email" placeholder="EMAIL" ng-model="user.email">
          </label>
          <label class="item item-input item-stacked-label no-side-top-border">
            <span class="input-label">DATA DE NASCIMENTO</span>
            <input type="date" placeholder="DATA DE NASCIMENTO" ng-model="user.formatted_birth_date">
          </label>
          <button ng-click="openDatePicker()" class="button button-positive">
            <i class="icon ion-ios-calendar-outline"></i>
          </button>
          <label id="operadora" class="item item-input item-select no-side-top-border operator">
            <select ng-options="healthOperator.$id as healthOperator.name for healthOperator in healthOperators" ng-model="user.healthOperator">
              <option value="" disabled selected>OPERADORA DE SAÚDE</option>
            </select>
          </label>
          <label class="item item-input item-floating-label no-side-top-border input-address">
            <span class="input-label">ENDEREÇO</span>
            <input type="text" placeholder="ENDEREÇO" ng-model="user.address">
          </label>
          <!--<label class="item item-input item-select no-side-top-border desl">-->

            <!--<select id="deslocamento" ng-options="mobilityOption.$id as mobilityOption.name for mobilityOption in mobilityOptions" ng-model="user.mobilityOption">-->
              <!--<option value="" disabled selected>DESLOCAMENTO</option>-->
            <!--</select>-->
          <!--</label>-->
          <!-- <div class="item item-divider">
            Contas Vinculadas
          </div>
          <a class="item" ng-repeat="(key,value) in user.minions" href="#/users/{{user.$id}}/minions/{{key}}">
            {{value.name}}
            <button class="button button-light">
              <i class="icon ion-chevron-right"></i>
            </button>
          </a>
          <a class="button button-light add-secondary" ng-href="#/users/{{user.$id}}/minions/new">Adicionar conta secundária</a> -->
        </div>
        <div class="options-information">
          <button class="option-save" ng-click="saveChanges()">Salvar Alterações</button>
          <button class="option-des" ng-click="discardChanges()">Descartar Alterações</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
