<ion-view hide-nav-bar="true" title="Profile">
  <ion-header-bar class="bar bar-header bar-light">
    <button class="button button-icon icon ion-close-round" ng-click="discardChanges()"></button>
    <h1 class="title">Informações</h1>
    <button class="button button-icon icon ion-checkmark-round" ng-click="saveChanges()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="flex-view">
      <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
      <p>Normal</p>
      <img ng-src="{{user.photoUrl}}" width="200px" height="200px">
      <p>Base64</p>
      <img ng-src="data:image/jpeg;base64,{{user.photoUrl}}" width="200px" height="200px">
      <div class="form">
        <div class="list">
          <label class="item item-input item-floating-label item-avatar-right no-side-top-border">
            <img ng-src="data:image/jpeg;base64,{{user.photoUrl}}" />
            <span class="input-label">NOME COMPLETO</span>
            <input type="text" placeholder="NOME COMPLETO" ng-model="user.name">
          </label>
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">EMAIL</span>
            <input type="email" placeholder="EMAIL" ng-model="user.email">
          </label>
          <label class="item item-input item-stacked-label no-side-top-border">
            <span class="input-label">DATA DE NASCIMENTO</span>
            <input type="date" placeholder="DATA DE NASCIMENTO" ng-model="user.birth_date">
          </label>
          <label class="item item-input item-select no-side-top-border">
            <span class="input-label">OPERADORA DE SAÚDE</span>
            <select ng-options="healthOperator.$id as healthOperator.name for healthOperator in healthOperators" ng-model="user.healthOperator">
              <option></option>
            </select>
          </label>
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">ENDEREÇO</span>
            <input type="text" placeholder="ENDEREÇO" ng-model="user.address">
          </label>
          <label class="item item-input item-select no-side-top-border">
            <span class="input-label">DESLOCAMENTO MAIS FREQUENTE</span>
            <select ng-options="mobilityOption.$id as mobilityOption.name for mobilityOption in mobilityOptions" ng-model="user.mobilityOption">
              <option></option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
