<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <div class="ion-close" ng-click="modal.hide()"></div>
    <h1 class="title">Cadastrar</h1>
  </ion-header-bar>
  <ion-content class="padding" class="singUp">
    <div class="flex-view">
      <div ng-click="addPicture()" class="profile-img-container">
        <div class="img-circular"></div>
        <img src="../img/add.svg" class="btn-add">
      </div>
      <div class="form">
        <div class="list">
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">NOME COMPLETO</span>
            <input class="input-signup" type="text" placeholder="NOME COMPLETO" ng-model="user.name">
          </label>
          <label class="item item-input item-floating-label no-side-top-border">
            <span class="input-label">EMAIL</span>
            <input class="input-signup" type="email" placeholder="EMAIL" ng-model="user.email">
          </label>
          <div class="item item-input-inset password-input">
            <label class="item-input item-floating-label ">
              <span class="input-label">SENHA</span>
              <input  class="input-signup" type="password" placeholder="SENHA" ng-model="user.password">
            </label>
          </div>
          <label class="item item-input item-stacked-label no-side-top-border">
            <span class="input-label">DATA DE NASCIMENTO</span>
            <input  class="input-signup" type="date" placeholder="DATA DE NASCIMENTO" ng-model="user.birth_date">
          </label>
        </div>
        <button class="button button-block button-calm" ng-click="createUser()">
          Cadastrar
        </button>
      </div>
      <div class="register-info">
        <p>Já possui uma conta? <a ng-click="modal.hide()">Entrar</a></p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
