<ion-view view-title="Como Usar" id="tuto-btnid" class="tuto-btn">
  <ion-nav-buttons side="left">
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
      Pular
    </button>
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Voltar
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 3">
      Próximo
    </button>
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 3">
      Iniciar SOSPS
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="tuto-image tuto-image1">
      </div>
      <div class="tutorial-text">
        <h2>O padrão de exibição dos resultados considera os hospitais com menor tempo para 1º atendimento (a primeira interação médico e paciente). Utilize o filtro de pesquisa para personalizar.</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image2">
      </div>
      <div class="tutorial-text">
        <h2>Encontre o hospital do seu interesse utilizando a lupa. Não encontrou algum hospital? Nos avise utilizando o menu de opções adicionais.</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image3">
      </div>
      <div class="tutorial-text">
        <h2>Utilize o menu de opções adicionais. Ele está acima da área de pesquisa. Nele, você pode editar sua conta, indicar um hospital que gostaria de ver no SOSPS, enviar suas sugestões e indicar o SOSPS. .</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image4">
      </div>
      <div class="tutorial-text">
        <h2>No menu de opções adicionais, você também pode indicar o SOSPS. Recomende o aplicativo para seus amigos e familiares. Pode ser por e-mail, Whatsapp ou a forma que você preferir. Chega de sair de casa sem saber o que irá encontrar!</h2>
        <h1 ng-click="startApp()">Continuar</h1>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
