<ion-view view-title="Como Usar" id="tuto-btnid" class="tuto-btn">
  <ion-nav-buttons side="left">
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
      Pular
    </button>
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Voltar
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 3">
      Próximo
    </button>
    <button class="tuto-btn button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 3">
      Iniciar SOSPS
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="tuto-image tuto-image1">
      </div>
      <div class="tutorial-text">
        <h2>O padrão de exibição dos resultados considera os hospitais mais próximos da sua localização. Utilize o filtro de pesquisa para personalizar.</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image2">
      </div>
      <div class="tutorial-text">
        <h2>Encontre o hospital de interesse utilizando a lupa. Não encontrou algum hospital? Nos avise utilizando o menu de opções adicionais.</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image3">
      </div>
      <div class="tutorial-text">
        <h2>Esse é o menu acima da área de pesquisa. Nele, você pode editar sua conta, indicar um hospital que gostaria de ver no SOSPS, enviar suas sugestões, avaliar e indicar o SOSPS. Gostou do app. Nos avalia na loja do seu celular.</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tuto-image tuto-image4">
      </div>
      <div class="tutorial-text">
        <h2>No menu adicional, você também pode indicar o SOSPS. Recomende o aplicativo para seus amigos e familiares. Pode ser por e-mail, Whatsapp ou a forma que você preferir. Chega de sair de casa sem saber o que irá encontrar.</h2>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
